h1{
    font-size: 80px;
    font-weight: 700;
}
p{
    font-size: 35px;
    
    
}
button
{
    font-size: 13.333px;
    font-weight: 400;
    width: 250px;
  height: 80px;
  background-color: blue;
  color: white;
}
button:hover{
    background-color: #008000 !important ;
}